<header>
  <div class="header-section">
    <img
      src="/img/Polea_Logo_Sin_Texto.png"
      alt="Logo del sitio"
      id="logo-header"
    />
    <div class="header-hamburger">
      <a href="#"
        ><i class="fa fa-bars white-font font25" aria-hidden="true"></i
      ></a>
    </div>
    <div>
      <a href="/" class="header-links" id="first-header-link">Home</a>
      <a href="/products" class="header-links">Comprar</a>
      <a href="/" class="header-links">Sobre Nosotros</a>
    </div>
  </div>

  <div class="header-section">
    <a href="/" class="fas fa-search header-icons"></a>
    <div class="dropdown">
      <a href="/" class="fas fa-user header-icons"></a>
      <div class="dropdown-content">
        <% if(user) { %>
        <p class="white-font"><%= user.name %></p>
        <p class="gray-font">Log Out</p>
        <% }else { %>
        <a href="users/login"><p class="gray-font">Ingresar</p></a>
        <a href="users/register"><p class="gray-font">Crear Cuenta</p></a>
        <% } %>
      </div>
    </div>
    <a
      href="/carrito"
      class="fas fa-shopping-cart header-icons"
      id="last-header-icon"
    ></a>
  </div>
</header>
