<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= title %></title>

<script
  src="https://kit.fontawesome.com/c408bf9611.js"
  crossorigin="anonymous"
></script>
<link
  href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/theme.css" />
<link rel="stylesheet" href="/css/base.css" />

<link rel="stylesheet" href="<%= styles %>" />

<link rel="stylesheet" href="/css/stylesTablet.css" />
<link rel="stylesheet" href="/css/stylesMobile.css" />
