<header>
  <div class="header-section">
    <img
      src="/img/Polea_Logo_Sin_Texto.png"
      alt="Logo del sitio"
      id="logo-header"
    />
    <div class="header-hamburger">
      <a href="#"
        ><i class="fa fa-bars white-font font25" aria-hidden="true"></i
      ></a>
    </div>
    <div>
      <a href="/" class="header-links" id="first-header-link">Home</a>
      <a href="/products" class="header-links">Comprar</a>
      <a href="/" class="header-links">Sobre Nosotros</a>
    </div>
  </div>
  <div>
    <% if (user) { %>
    <p class="white-font">Logged in - <%= user.name %></p>
    <% }else { %>
    <p></p>
    <% } %>
  </div>

  <div class="header-section">
    <a href="/" class="fas fa-search header-icons"></a>
    <a href="/" class="fas fa-user header-icons"></a>
    <a
      href="/carrito"
      class="fas fa-shopping-cart header-icons"
      id="last-header-icon"
    ></a>
  </div>
</header>
