<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URZA COMICS</title>

    <script
      src="https://kit.fontawesome.com/c408bf9611.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <div class="header-section">
        <img
          src="/img/Polea_Logo_Sin_Texto.png"
          alt="Logo del sitio"
          id="logo-header"
        />
        <div>
          <a href="/" class="header-links" id="first-header-link">Home</a>
          <a href="/" class="header-links">Comprar</a>
          <a href="/" class="header-links">Sobre Nosotros</a>
        </div>
      </div>

      <div class="header-section">
        <a href="/" class="fas fa-search header-icons"></a>
        <a href="/" class="fas fa-user header-icons"></a>
        <a
          href="/carrito"
          class="fas fa-shopping-cart header-icons"
          id="last-header-icon"
        ></a>
      </div>
    </header>
    <main>
      <div class="main-section">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, esse ex
          ullam aliquam ipsum libero obcaecati eligendi fugit rem! Cupiditate, a
          reiciendis dolorem nam exercitationem esse nihil qui molestiae
          recusandae?
        </p>
        <button form="#" class="boton-main"></button>
      </div>
      <section class="categories gray">
        <div class="categorie-1">
          <img src="img/comic_cat.png" class="image-icon" />
          <h3></h3>
        </div>
        <div class="categorie-2">
          <img src="" class="image-icon" />
          <h3></h3>
        </div>
        <div class="categorie-3">
          <img src="" class="image-icon" />
          <h3></h3>
        </div>
        <div class="categorie-4">
          <img src="" class="image-icon" />
          <h3></h3>
        </div>
        <div class="categorie-5">
          <img src="" class="image-icon" />
          <h3></h3>
        </div>
        <div class="categorie-6">
          <img src="img/toy_cat.png" class="image-icon" />
          <h3></h3>
        </div>
      </section>
      <section class="trending white">
        <h2>TENDENCIAS</h2>
        <p></p>
        <div class="image-trending">
          <article class="product-card">
            <div>
              <img src="img/funko-pop-black-ranger.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div>
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
        </div>
        <button name="todos los productos" type="button"></button>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
