<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URZA COMICS</title>

    <script
      src="https://kit.fontawesome.com/c408bf9611.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <header>
      <div class="header-section">
        <img
          src="/img/Polea_Logo_Sin_Texto.png"
          alt="Logo del sitio"
          id="logo-header"
        />
        <div>
          <a href="/" class="header-links" id="first-header-link">Home</a>
          <a href="/" class="header-links">Comprar</a>
          <a href="/" class="header-links">Sobre Nosotros</a>
        </div>
      </div>

      <div class="header-section">
        <a href="/" class="fas fa-search header-icons"></a>
        <a href="/" class="fas fa-user header-icons"></a>
        <a
          href="/carrito"
          class="fas fa-shopping-cart header-icons"
          id="last-header-icon"
        ></a>
      </div>
    </header>
    <main>
      <div class="main-section">
        <img src="" alt="Main Image" id="" />
      </div>
    </main>
  </body>
</html>
