<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title>URZA COMICS</title>

    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="main-section">
        <h1>URZA - Tienda Geek</h1>
        <p>
          Encontra los mejores productos de Magic, Pokemon, Figuras, Manga y
          Comics!
        </p>
        <button form="#" class="button-main red">Todos los productos</button>
      </div>
      <section class="categories gray padding-top-bot30">
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/board_cat_cropped.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Juegos</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/comic_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Comics</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/rol_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Rol</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/toy_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Juguetes</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/yugi_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">TCG</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/manga_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Manga</h3>
          </a>
        </div>
      </section>
      <section class="margin-top30 white side-bars">
        <h2 class="text-center black-font padding20">Tendencias</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="images-trending">
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/funko-pop-black-ranger.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/funko-pop-black-ranger.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
        </div>
      </section>

      <section class="margin-top30 gray side-bars">
        <h2 class="text-center black-font padding20">Ofertas</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="images-trending padding-bot30">
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/funko-pop-black-ranger.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/funko-pop-black-ranger.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
          <article class="product-card">
            <div class="product-card-top">
              <img src="img/race-for-the-galaxy.jpg" />
            </div>
            <h4 class="product-card-title">Baby Yoda</h4>
            <p class="product-card-subtitle gray-font">Funko Pop</p>
            <div id="product-card-bottom">
              <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
