<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>

    <script
      src="https://kit.fontawesome.com/c408bf9611.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/base.css" />

    <link rel="stylesheet" href="/css/productPage.css" />
  </head>
  <body>
    <header>
      <div class="header-section">
        <img
          src="/img/Polea_Logo_Sin_Texto.png"
          alt="Logo del sitio"
          id="logo-header"
        />
        <div>
          <a href="/" class="header-links" id="first-header-link">Home</a>
          <a href="/" class="header-links">Comprar</a>
          <a href="/" class="header-links">Sobre Nosotros</a>
        </div>
      </div>

      <div class="header-section">
        <a href="/" class="fas fa-search header-icons"></a>
        <a href="/" class="fas fa-user header-icons"></a>
        <a
          href="/carrito"
          class="fas fa-shopping-cart header-icons"
          id="last-header-icon"
        ></a>
      </div>
    </header>
    <main class="product-main side-bars">
      <section class="left-images">
        <img src="/img/image-placeholder.png" />
        <img src="/img/image-placeholder.png" />
        <img src="/img/image-placeholder.png" />
      </section>
      <section class="main-image">
        <img src="/img/image-placeholder.png" />
      </section>
      <section class="product-description">
          <h2 id= "product-title">Titulo del Producto</h2>
          <h4 id= "product-subtitle">Subtitulo</h5>
            <div class="price-and-rating">
              <h4 id="price">$100</h4>  
              <div id = "rating">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
            </div>
            <hr/>
            <h4 id="brand"> Marca </h4>
            <div class="info-container">
                <p class="category">Autores:</p>
                <p class="product-info">Autor 1, Autor 2</p>
            </div>
            <div class="info-container">
                <p class="category">Numero de Paginas:</p>
                <p class="product-info">50pp</p>
            </div>
            <div class="info-container">
               <p class="category">Tamaño:</p>
               <p class="product-info">16.8X25.8</p>
            </div>
            <div class="info-container">
                <p class="category">ISSN:</p>
                <p class="product-info">977000554600100006</p>
            </div>
            <hr/>
            <p id="description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iusto ratione harum reprehenderit unde aliquid ad magnam 
                delectus incidunt deleniti perspiciatis earum, labore, 
                quibusdam officiis non! Quod, doloremque iste. Quisquam,
                accusamus.
            </p>
            <div id="button-container">
              <form action="#" method="POST">
            <button type="button" id="button">Añadir al Carrito</button>
            </form>
            </div>
      </section>
    </main>
    <section class="similar-products side-bars">
      <h2 id="similar-products-title">Productos similares</h2>
      <div id="similar-products-display">
      <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
          </div>
        </article>
      </div>
    </section>
    <footer class="white padding20 side-bars">
      <div>
        <h4 class="margin-bot15">URZA</h4>
        <a href="#" class="no-decoration"
          ><p class="margin-bot15">urza@gmail.com</p></a
        >
        <p>Copyright © 2020 Name. All rights reserved.</p>
      </div>

      <div class="footer-icons">
        <span class="footer-media-icons"
          ><i class="fab fa-google font16"></i
        ></span>
        <span class="footer-media-icons"
          ><i class="fab fa-facebook-f font16"></i
        ></span>
        <span class="footer-media-icons"
          ><i class="fab fa-instagram font16"></i
        ></span>
        <span class="footer-media-icons"
          ><i class="fab fa-twitter font16"></i
        ></span>
      </div>
    </footer>
  </body>
</html>
