<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include("partials/head") %>
    <title>Product Page</title>

    
    <link rel="stylesheet" href="/css/productPage.css" />
  </head>
  <body>
     <%- include("partials/header") %>
    <main class="product-main side-bars">
      <section class="left-images">
        <img src="/img/image-placeholder.png" />
        <img src="/img/image-placeholder.png" />
        <img src="/img/image-placeholder.png" />
      </section>
      <section class="main-image">
        <img src="/img/image-placeholder.png" />
      </section>
      <section class="product-description">
          <h2 id= "product-title">Titulo del Producto</h2>
          <h4 id= "product-subtitle">Subtitulo</h5>
            <div class="price-and-rating">
              <h4 id="price">$100</h4>  
              <div id = "rating">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
            </div>
            <hr/>
            <h4 id="brand"> Marca </h4>
            <div class="info-container">
                <p class="category">Autores:</p>
                <p class="product-info">Autor 1, Autor 2</p>
            </div>
            <div class="info-container">
                <p class="category">Numero de Paginas:</p>
                <p class="product-info">50pp</p>
            </div>
            <div class="info-container">
               <p class="category">Tamaño:</p>
               <p class="product-info">16.8X25.8</p>
            </div>
            <div class="info-container">
                <p class="category">ISSN:</p>
                <p class="product-info">977000554600100006</p>
            </div>
            <hr/>
            <p id="description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Iusto ratione harum reprehenderit unde aliquid ad magnam 
                delectus incidunt deleniti perspiciatis earum, labore, 
                quibusdam officiis non! Quod, doloremque iste. Quisquam,
                accusamus.
            </p>
            <div id="button-container">
              <form action="#" method="POST">
            <button type="button" id="button">Añadir al Carrito</button>
            </form>
            </div>
      </section>
    </main>
    <section class="similar-products side-bars">
      <h2 id="similar-products-title">Productos similares</h2>
      <div id="similar-products-display">
      <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
            <button class="product-card-button">Comprar</button>
          </div>
        </article>
        <article class="product-card">
          <div class="product-card-top">
            <img
              src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6103047373267"
            />
          </div>
          <h4 class="product-card-title">Baby Yoda</h4>
          <p class="product-card-subtitle gray-font">Funko Pop</p>
          <div id="product-card-bottom">
            <p class="product-card-price">$1500</p>
              <button class="product-card-button">Comprar</button>
          </div>
        </article>
      </div>
    </section>
  <%- include("partials/footer") %>
  </body>
</html>
