* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fbfbfbfb;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b1bfb; /*prueba cambio color Original #fbfbfbfb; #1b1b1bfb*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header-links {
  margin-left: 12px;
  margin-right: 12px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-decoration: none;
  color: #999;
}

.header-links:hover {
  color: #d8d8d8;
  transform: scale(1.2); /*recize palabras home, comp, nos;*/
  /*-webkit-text-stroke: 0.1px rgb(243, 227, 227);*/
}

#first-header-link {
  margin-left: 20px;
}

#logo-header {
  /*position: relative;*/
  /*right: 60px;*/
  margin-left: 20px;
  height: 40px;
}

.header-icons {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 20px;
  color: #999;
  text-decoration: none;
  text-align: right;
}

#last-header-icon {
  margin-right: 60px;
}

.header-icons:hover {
  color: #d8d8d8;
  transform: scale(1.2); /*recize palabras icons */
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: solid 2px #1a1919;
  width: 50px;
  height: 50px;
}
