.product-main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: #3d3d3d;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid #cfcfcf;
}

.left-images {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 8%;
}

.left-images img {
  width: 100%;
  margin-bottom: 12px;
}

.main-image {
  width: 41%;
  margin-left: 1%;
}

.main-image img {
  width: 100%;
}

.product-description {
  margin-left: 2%;
  width: 45%;
}

#product-title {
  font-size: 40px;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

#product-subtitle {
  font-size: 32px;
  color: #919191;
  font-style: italic;
  margin-top: 12px;
}

.price-and-rating {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  justify-content: space-between;
}

#price {
  font-size: 32px;
  text-align: left;
}

#rating {
  font-size: 20px;
  align-self: center;
}

#brand {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category {
  font-size: 24px;
}

.product-info {
  font-size: 20px;
  align-self: center;
  font-style: italic;
}

#description {
  font-size: 20px;
  line-height: 28px;
}

#button-container {
  display: flex;
  justify-content: center;
}

#button {
  font-size: 22px;
  background-color: #eb5a43;
  border: none;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 30px;
  justify-self: center;
  margin-top: 30px;
  justify-items: flex-end;
  font-weight: bold;
}

.similar-products {
  background-color: #ebebeb;
  margin-top: 25px;
}

#similar-products-title {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

#similar-products-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.similar-products-card {
  margin-top: 30px;
  width: 25%;
}

.similar-products-card img {
  width: 100%;
}

.similar-products-card-info {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.similar-products-card-info h4 {
  font-size: 28px;
  margin-bottom: 6px;
}

.similar-products-card-info p {
  font-size: 18px;
  margin-bottom: 6px;
  color: #717171;
}

#similar-products-shopping-cart {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  color: #717171;
}
