@media (max-width: 769px) {
  /* Header */
  #logo-header {
    display: none;
  }

  .header-links {
    display: none;
  }

  .header-hamburger {
    display: inline;
    margin-left: 30px;
  }

  /* Product Page */
  .product-main {
    flex-direction: column;
    align-items: center;
  }

  /* Login Page */
  .login-container {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Login Page  */
  .login-box {
    align-items: stretch;
  }

  /* Login Page */
  .icons {
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-top: -240px;
    margin-left: 300px;
  }

  /* Login Page */
  #image-test {
    display: none;
  }

  /* Login Page */
  .lines-separation {
    display: none;
  }

  .main-image {
    width: 100%;
  }

  .product-description {
    display: block;
    order: 2;
    width: 100%;
  }

  .left-images {
    flex-direction: row;
    order: 1;
    width: 10%;
    margin-top: 15px;
    align-self: flex-start;
    margin-left: 3px;
    width: 15%;
  }

  .left-images img {
    padding-right: 15px;
  }
}
