.red {
  background-color: #eb5a43;
}

.black {
  background-color: #2d2d2d;
}

.bold {
  font-weight: bold;
}

.gray-font {
  color: #979797;
}

.side-bars {
  padding-left: 100px;
  padding-right: 100px;
}
