<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Register", styles:
    "/css/loginReg.css"}); %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="background">
        <div class="login-container">
          <div class="login-box">
            <form action="/users/register" method="POST" id="registerForm">
              <h1>Crear una Cuenta</h1>
              <div class="new-users">
                <p>¿Ya sos Usuario?</p>
                <a href="/users/login" id="ingresa"><p>Ingresá</p></a>
              </div>
              <% if(typeof errors !='undefined' ) { %>
              <p style="color: red">ERROR</p>
              <ul>
                <% for(var i=0; i < errors.length; i++) { %>
                <li><%= errors[i].msg %></li>
                <% } %>
              </ul>
              <% } %>
              <div class="frontErrors">
                <ul></ul>
              </div>
              <input
                type="text"
                name="first_name"
                placeholder="Nombre"
                class="user-pass-submit name"
                id="firstName"
                required
              />
              <input
                type="text"
                name="last_name"
                placeholder="Apellido"
                class="user-pass-submit apellido"
                id="lastName"
                required
              />
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="user-pass-submit"
                id="email"
                required
              />
              <input
                type="password"
                name="pass"
                placeholder="Contraseña"
                class="user-pass-submit"
                id="password"
                required
              />
              <input
                type="submit"
                class="user-pass-submit ingresar"
                value="Crear una Cuenta"
              />
              <div class="lines-separation">
                <p id="ingresa-cuentas-fav">Ingresa con</p>
                <hr />
              </div>
              <div class="icons">
                <span class="media-icons"
                  ><i class="fab fa-google font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-facebook-f font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-instagram font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-twitter font25"></i
                ></span>
              </div>
            </form>
          </div>
          <img src="/img/register_img.png" id="image-test" />
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %>

    <!-- Validator Script -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js"
      integrity="sha512-vZEoK8xRncku4g5GANHh5zobUjeCMbZkSEahrADeAcRlk/1Ignf8sAKojkV4RZLkPw145+ILJFisI2pnjsPtGQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/validations/registerFrontValidation.js"></script>
  </body>
</html>
