<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Login", styles:
    "/css/loginReg.css"}); %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="background">
        <div class="login-container">
          <div class="login-box">
            <form action="/users/login" method="POST">
              <h1>Ingresar</h1>
              <div class="new-users">
                <p>¿Usuario Nuevo?</p>
                <a href="/users/register" id="cuenta"
                  ><p>Crear una Cuenta</p></a
                >
              </div>
              <input
                type="text"
                placeholder="E-mail"
                class="user-pass-submit"
                name="email"
              />
              <input
                type="password"
                placeholder="Contraseña"
                class="user-pass-submit"
                name="pass"
              />
              <input type="checkbox" />
              <p id="recuerdame">Recuérdame</p>
              <input
                type="submit"
                class="user-pass-submit ingresar"
                value="Ingresar"
              />
              <div class="lines-separation">
                <p id="ingresa-cuentas-fav">Ingresa con</p>
                <hr />
              </div>
              <div class="icons">
                <span class="media-icons"
                  ><i class="fab fa-google font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-facebook-f font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-instagram font25"></i
                ></span>
                <span class="media-icons"
                  ><i class="fab fa-twitter font25"></i
                ></span>
              </div>
            </form>
          </div>
          <img src="/img/Login_img.png" id="image-test" />
        </div>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
