main {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 40px 100px 11vh 100px;
}

.cart {
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.black {
  padding: 2%;
  height: 100%;
  width: 20%;
  border-bottom: solid 1px #393838;
  border-radius: 9px;
  padding: 15px;
  color: #ffffff;
  margin-left: 10%;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#first-title {
  width: 58%;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.button {
  border-radius: 10px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 15px 0px;
  letter-spacing: 1px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid #4d4d4d;
}

hr.light {
  border: 0.5px solid #cfcfcf;
}
