.product-main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: #3d3d3d;
  height: 90vh;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid #cfcfcf;
}

.main-image {
  width: 45%;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.product-description {
  margin-left: 2%;
  width: 45%;
  display: flex;
  flex-direction: column;
}

#product-title {
  font-size: 40px;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

#product-subtitle {
  font-size: 32px;
  color: #919191;
  font-style: italic;
  margin-top: 12px;
}

.titles-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#price {
  font-size: 40px;
  text-align: left;
}

#rating {
  font-size: 20px;
  align-self: center;
}

#brand {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.category {
  font-size: 24px;
}

#description {
  font-size: 20px;
  line-height: 28px;
}

#button-container {
  margin-top: auto;
  align-self: center;
}

.button {
  font-size: 22px;
  background-color: #eb5a43;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 30px;
  font-weight: bold;
}

.similar-products {
  background-color: #ebebeb;
  margin-top: 25px;
}

#similar-products-title {
  text-align: left;
  padding-top: 40px;
  font-size: 32px;
  color: #666666;
}

#similar-products-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 20px;
}
