/* HEADERS */
h1 {
  font-size: 46px;
}

h2 {
  font-size: 40px;
}

/* FONTS */

@font-face {
    font-family: 'moonhouseregular';
    src: url('/fonts/moonhouse-ye5m-webfont.woff2') format('woff2'),
         url('/fonts/moonhouse-ye5m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.moonhouse-font {
  font-family: "moonhouseregular";
}

.font25 {
  font-size: 25px;
}

.font16 {
  font-size: 16px;
}

.font20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.gray-font {
  color: #979797;
}

.black-font {
  color: #3d3d3d;
}

.white-font {
  color: #fbfbfb;
}

/* BACKGROUNDS */
.red {
  background-color: #eb5a43;
}

.black {
  background-color: #2d2d2d;
}

.gray {
  background-color: #ebebeb;
}

.white {
  background-color: #fbfbfb;
}

/* TEXT */
.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.no-decoration {
  text-decoration: none;
}

.letter-spacing {
  letter-spacing: 1.5px;
}

/* MARGINS */
.margin-bot15 {
  margin-bottom: 15px;
}

.margin-right50 {
  margin-right: 50px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-bot10 {
  margin-bottom: 10px;
}

.margin-bot50 {
  margin-bottom: 50px;
}

/* PADDINGS */
.padding-top-bot30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-bot30 {
  padding-bottom: 30px;
}

.padding-top30 {
  padding-top: 30px;
}

.padding-left30 {
  padding-left: 30px;
}

.padding20 {
  padding: 20px;
}

/* WIDTHS */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-85 {
  width: 85%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

/* DISPLAYS */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* OTHER */
.side-bars {
  padding-left: 5%;
  padding-right: 5%;
}
