<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Todos los Productos", styles:
    "/css/productPage.css"}); %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="product-card-container side-bars">
      <% for( let i = 0; i < products.length; i++ ) { %> <%-
      include("../partials/productCard",{product:products[i]}) %> <% } %>
    </main>
    <!-- Boton de crear producto -->
    <% if(user != null && user.type == "admin"){ %>
    <div class="text-center red padding20">
      <a href="/products/create" class="white-font font20 bold">
        Crear Producto
      </a>
    </div>
    <% } %>

    <footer><%- include("../partials/footer") %></footer>
  </body>
</html>
